@font-face {
    font-family: "Trickster";
    src:
        local("Trickster"),
        url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
        url("trickster-outline.otf") format("opentype"),
        url("trickster-outline.woff") format("woff");
}

* {
    box-sizing: border-box;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.navBar {
    font-family: "Trickster";
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(180deg, lavenderblush 0%, white 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.navBar .navLeft {
    display: flex;
    align-items: center;
    flex: 1;
    gap: .5rem;
}

.navBar .navLeft .back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    color: black;
    transform: scaleY(2);
}

.navBar .navLeft .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: .5rem;
}

.navBar .navLeft .logo img {
    width: 40px;
    height: 40px;
}

.navBar .navMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .25rem;
}

.navBar h1 {
    margin: 0;
}

.navBar .navRight {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    text-align: right;
}

.navBar .navRight .github {
    margin-left: 1rem;
}

.navBar .navRight img {
    width: 30px;
    height: 30px;
    vertical-align: text-bottom;
}

.text-center {
    text-align: center;
}


.container {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meme-generator {
    text-align: center;
}

.generate-Meme-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: rgba(175, 202, 179, 0.835);
    border: 1px solid grey;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    margin: 1rem;
}

.meme {
    width: 100%;
    padding: 20px;
    background-color: rgba(199, 190, 178, 0.5);
    box-shadow: 6px 6px 10px 4px rgba(19, 18, 18, 52%);
    border-radius: 30px;
}

.meme img {
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    padding: 20px;
}

#input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 15rem;
}

button.btn:disabled,
.btn.btn-primary:disabled {
    cursor: not-allowed;
}

button.btn.btn-primary {
    font-size: 15px;
    padding: 6px 10px;
    border: none;
    background-color: rgba(175, 202, 179, 0.835);
    border: 1px solid grey;
    border-radius: 15px;
    cursor: pointer;
}

.message {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 20px;
    font-weight: bold;
}