.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav main-content main-content"
    "footer footer footer";
    height: 50vh;

}

.header {
    grid-area: header;
    background-color:gray;
  }
  .nav {
    grid-area: nav;
    background-color: gainsboro;
  }
  .content {
    grid-area: main-content;
    background-color: lightgray;
  }
  .footer {
    grid-area: footer;
    background-color: lightgray;
  }