html,
body {
    background-color: hsl(47, 88%, 63%);
    margin: 0;
    font-family: Arial, sans-serif;
}

#blogCard {
    position: absolute;
    width: 300px;
    border: 1px solid #ddd;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0);
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: hsl(0, 0%, 100%);
}

.blogImage {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
    color: hsl(0, 0%, 7%);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.textClass {
    color: hsl(0, 0%, 42%);
    margin-bottom: 1.5rem;
}

.imageAvatar {
    height: 30px;
    width: 30px;
    border-radius: 50% ;
}


.avatarDiv {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.avatarSpan {
    margin-left: 10px;
    font-weight: bold;
    color: hsl(0, 0%, 7%);
}

button {
    background-color: hsl(47, 88%, 63%);
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: hsl(47, 88%, 53%);
}
